artifacts/
cache/
cache_hardhat/
crytic-export/
node_modules/
typechain/
out/
broadcast

# Anvil state files
.anvil-state/
.anvil.pid

.vscode
.env

echidna_*_corpus/
audits
LICENSE.md
scripts
hardhat.config.ts
.github
.gitattributes
CHANGELOG.md
.deploys
remix-compiler.config.js
.DS_Store
.gitmodules
.prettierrc
.solhint.json
.yarnrc
script/constants/output/
/script/constants/output/
